$color-yellow: #FFC641;
$color-yellow-beta: #FFB700;
$color-blue: #0046CF;
$color-blue-beta: rgba(0, 108, 255, 1);
$color-tertiary: #ebf3fd;

$color-white: #fff;
$color-black: #000;
$color-red: #FF432A;

$color-grey-primary: #323232;
$color-grey-secondary: #575757;

// $heading-size1: 4.8rem;
// $heading-size2: 4.2rem;
// $heading-size3: 3.6rem;
// $heading-size4: 2.4rem;

// Font size
$default-font-size: 2.2rem;
$font-size1: 1.8rem;
$font-size2: 2rem;

// Transition timer 
$timer1: 250ms;


// Editor pannel dimensions

$user-pannel-width-open : 20vw;
$user-pannel-width-collapsed : 5vw;

$editor-pannel-width-min : calc(100vw - $user-pannel-width-open);
$editor-pannel-width-max : calc(100vw - $user-pannel-width-collapsed);