/////////////////////////////////////
/// 
/// 
.monaco-editor{
    padding-top: 2rem;
}
.CodeMirror{
    // height: 100% !important;
    // font-size: 1.6rem;
    // padding-top: 1rem;

    // line-height: 2.8rem;
}
// .cm-theme{
//     height: 100%;
//     // padding: 1.5rem 1rem;
//     // line-height: 2.5rem;
//     // font-size: 1.7rem;
//     // // width: 100% !important;
// }

// .cm-lineNumbers{
//     min-width: 3rem;
// }
/////////////////////////////////////


.editor-pannel {
    // background-color: aquamarine;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid $color-primary-line;


    .editor-container {
        position: relative;
        display: flex;
        height: 100%;

        .codeEditor {
            width: 100%;
            position: relative;
            overflow: scroll;

            &__container{
                position: absolute;
                right: 0;
                left: 0;
                top: 0;
                bottom: 0;
                
                &__codeMirror{
                    // padding-top: 2rem;
                    // height: 100%;
                    // font-size: 1.6rem;

                }
            }
        }

        .terminal-container {
            // background-color: cadetblue;
            border-left: 1px solid $color-primary-line;
            width: $terminal-pannel-width-collapsed; // closed by default
            transition: width $timer2 ease-in-out;

            &.open {
                width: $terminal-pannel-width-open;
            }
        }
    }

    .video-container {
        // background-color: bisque;
        border-top: 1px solid $color-primary-line;
        height: $video-pannel-height-collapsed; // closed by default
        transition: height $timer2 ease-in-out;
        color: $font-color;

        &.open {
            height: $video-pannel-height-open;
        }
    }
}