.editor-pannel {
    background-color: aquamarine;
    width: 100%;
    display: flex;
    flex-direction: column;

    .editor-container {
        height: 100%;
    }

    .video-container {
        background-color: bisque;
        height: $video-pannel-height-collapsed; // closed by default
        transition: height $timer2 ease-in-out;

        &.open {
            height: $video-pannel-height-open;
        }
    }

    .editor-container {
        display: flex;


        .editor {
            width: 100%;
            background-color: burlywood;
        }

        .terminal-container {
            background-color: cadetblue;
            width: $terminal-pannel-width-collapsed; // closed by default
            transition: width $timer2 ease-in-out;

            &.open {
                width: $terminal-pannel-width-open;
            }
        }
    }
}