.user-pannel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $font-color;
  padding: 0.5rem;
  border: 1px solid $color-primary-line;
  border-right: none;
  transition: width $timer2 ease-in-out;
  width: $user-pannel-width-collapsed; // closed by default


  .usercard_container {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;

    // &__heading{
    //   display: none;
    //   margin: 2rem 0;
    //   text-align: center;
    //   color: $color-secondary-1;
    // }
    .usercard {
      overflow: hidden;
      display: flex;
      position: relative;
      flex-direction: row;
      align-items: center;
      min-height: 6rem;

      margin-bottom: 1rem;
      background-color: $color-primary-3;
      padding: 0.35rem;
      border: 1px solid $color-primary-2;
      border-radius: 2px;//0.5rem;

      &__icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        color: darken($color: $color-white, $amount: 10);
        height: 5rem;
        min-width: 5rem;
        width: 5rem;
        text-align: center;
        border-radius: 2px;//0.5rem;

        text-shadow: $color-grey-primary 1px 0 15px;
        -webkit-box-shadow: inset 0px 0px 99px -54px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: inset 0px 0px 99px -54px rgba(0, 0, 0, 0.75);
        box-shadow: inset 0px 0px 99px -54px rgba(0, 0, 0, 0.75);
      }

      &__name {
        // display: none;
        color: $font-color; // $color-secondary-1;
        opacity: 0;
      }

    }
  }

  .control_board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__button {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.3rem 0.2rem;
      margin: 1rem 0;
      white-space: nowrap;
      border-radius: 5px;//0.5rem;

      transition: padding $timer2 ease-in-out;

      &__icon {
        max-height: 2.8rem;
        height: 100%;
      }

      &__text {
        margin: 0 0 0 5px;
        display: none;
        animation-name: fade-in;
        animation-timing-function: ease-in-out;
        animation-duration: $timer2 ;
      }
    }

    .primary {
      background-color: lighten($color: $color-secondary-3, $amount: 4);
      border: 2px solid $color-secondary-3;

      &:active {
        background-color: lighten($color: $color-secondary-3, $amount: 17);
      }

      &:hover {
        background-color: lighten($color: $color-secondary-3, $amount: 6);
      }
    }

    .danger {
      background-color: lighten($color: $color-accent-5, $amount: 0);
      border: 2px solid $color-accent-5;

      &:active {
        background-color: lighten($color: $color-accent-5, $amount: 17);
      }

      &:hover {
        background-color: lighten($color: $color-accent-5, $amount: 6);
      }
    }


  }



  // When use pannel is open
  &.open {
    width: $user-pannel-width-open;
    padding: 0.5rem;

    .usercard_container {

      // &__heading{
      //   display: inline-block;
      // }
      .usercard {
        padding: 0.5rem;
        border: 1px solid $color-primary-line;
        // border-radius: 0.5rem;

        // &__icon {}

        &__name {
          padding-left: 1rem;
          display: inline-block;
          opacity: 1;

          animation-name: fade-in, move-x;
          animation-timing-function: ease-in-out;
          animation-duration: $timer2 ;
        }
      }
    }


    .control_board {

      &__button {
        padding: 1.8rem 0.2rem;

        &__icon {
          max-height: 2.5rem;
        }

        &__text {
          display: inline-block;
        }
      }
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0.1;
    }

    30% {
      opacity: 0.2;
    }

    60% {
      opacity: 0.6;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes move-x {
    0% {
      transform: translateX(-5px);
    }

    30% {
      transform: translateX(3px);
    }

    60% {
      transform: translateX(1px);
    }

    100% {
      transform: translateX(0px);
    }
  }
}
